@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
}

button {
    display: block;
    background-color: #3382F6;
    color: #F9FAF8;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 20px;
    width: 100px;
}

img {
    /* width: 100%; */
    /* height: 0; */
    min-height: 100%;
    border-radius: 30px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: -200px
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.top-2 {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0 100px 0;
}

.top-2 .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    justify-content: center;
    color: #F9FAF8;
    text-align: left;
}

.top-2 h1 {
    font-size: 48px;
    font-weight: bolder;
}

.top-2 p {
    font-size: 18px;
}

.image-container {
    display: flex;
    justify-content: center;
    ;
}

.image-content {
    display: flex;
    max-width: 50%;
    /* width: 800px; */
}

.element-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.cards-wrapper {
    display: flex;
    gap: 30px;
    padding: 100px 0;
    max-width: 50%;
}

.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    align-items: center;
}

.card-image {
    width: 200px;
}

.element-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    /* width: 800px; */
    width: 50%;
    padding: 100px 0;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.element-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.signup-wrapper {
    background: #3382F6;
    display: flex;
    width: 50%;
    padding: 50px 0;
    border-radius: 20px;
    justify-content: space-evenly;
}

.signup-wrapper .text h4 {
    font-size: 24px;
    color: #F9FAF8;
}

.signup-wrapper .text p {
    color: #E5E7EB;
}

.signup-btn {
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    align-self: center;
}