@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3382F6;
    color: #F9FAF8;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 20px;
    width: 100px;
    text-wrap: nowrap;
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.top,
.top-2,
.cards-wrapper,
.signup-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.top-2 {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.top-2 .text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #F9FAF8;
}

.top-2 h1 {
    font-size: 48px;
    font-weight: bolder;
}

.top-2 p {
    font-size: 18px;
}

.image-content {
    max-width: 400px;
}

.element-cards {
    padding: 100px 0;
    text-align: center;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
}

.cards {
    font-size: 18px;
    max-width: 200px;
}

.element-quote {
    background-color: #E5E7EB;
}

.quote-wrapper {
    padding: 100px 0;
    width: 40%;
    max-width: 1440px;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    font-size: 14px;
    font-weight: bold;
    text-align: right
}

.element-signup {
    padding: 100px 0;
}

.signup-wrapper {
    background: #3382F6;
    display: flex;
    padding: 50px 0;
    border-radius: 20px;
    justify-content: space-evenly;
}

.signup-wrapper .text h4 {
    font-size: 24px;
    color: #F9FAF8;
}

.signup-wrapper .text p {
    color: #E5E7EB;
}

.signup-btn {
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px;
    text-align: center;
}